 <!-- <app-header></app-header>  -->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <lib-ng-toast></lib-ng-toast> -->

<mat-toolbar>  <app-header   *ngIf="_auth.isLoggedIn()==true"></app-header></mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav mode="side" opened *ngIf="_auth.isLoggedIn()==true"> <app-sidebar  ></app-sidebar> </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-sidenav class="mat-elevation-z8"> ... </mat-sidenav>

<mat-sidenav-content>
  <div class="content mat-elevation-z8">Main content here!</div>
</mat-sidenav-content> -->