/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  height: 80vh;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-section-btn {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.sprint-list {
  list-style: none;
  padding: 0;
}

.sprint-item {
  margin-bottom: 20px;
}

.sprint-card {
  background-color: #f0eeee;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.sprint-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.sprint-card form {
  margin-top: 10px;
}

.sprint-card label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.sprint-card input,
.sprint-card textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sprint-card button[type="submit"] {
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-sprint-btn,
.action-button {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.main-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task-btn {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.kanban-board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.task-item {
  flex-basis: calc(33.33% - 20px);
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.task-item a {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #007bff;
}

.task-item div:not(:last-child) {
  margin-bottom: 10px;
}

.task-item label {
  font-weight: bold;
}

.task-item input,
.task-item textarea,
.task-item select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-item button {
  padding: 8px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}