<!-- mes-taches.component.html -->

<div class="container">
    <div class="sidebar">
      <div class="project-selection">
        <br/>
        <h4><i class="fas fa-folder"></i>  Mes projets</h4>
        <mat-nav-list>
            <mat-list-item *ngFor="let projet of projets" (click)="selectProject(projet)">
              <div class="project-item">
                <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                <span mat-line class="project-name">{{ projet.nom }}</span>
              </div>
            </mat-list-item>
          </mat-nav-list>   
      </div>
    </div>
    <div class="content">
      <div class="header">
  
        <h4><i class="fas fa-tasks"></i>  Mes taches</h4>
      </div>
      <div class="task-section">
  
        <div class="task-column">
          <h2 class="afaire">A faire</h2>
          <div>
            <div *ngFor="let tache of tachesAfaire" class="task-item todo">
              <div class="task-item-content">
                <h4>{{ tache.nom }}</h4>
                <p><strong>description : </strong>{{ tache.description }}</p>
                <p><strong>date de debut : </strong>{{ tache.date_debut | date:'dd/MM/yyyy' }}</p>
                <p><strong>date de fin : </strong>{{ tache.date_fin | date:'dd/MM/yyyy' }}</p>
                <p><strong>sprint : </strong>{{ tache.sprint.nom }}</p>
              
              </div>
            </div>
        </div>
        </div>
        <div class="task-column">
          <h2 class="encours">En cours</h2>
          <div>
            <div *ngFor="let tache of tachesEncours" class="task-item in-progress">
              <div class="task-item-content">
                <h4>{{ tache.nom }}</h4>
                <p><strong>description : </strong>{{ tache.description }}</p>
                <p><strong>date de debut : </strong>{{ tache.date_debut | date:'dd/MM/yyyy' }}</p>
                <p><strong>date de fin : </strong>{{ tache.date_fin | date:'dd/MM/yyyy' }}</p>
                <p><strong>sprint : </strong>{{ tache.sprint.nom }}</p>
                <div  *ngIf="tache.isEditing">
                    <label>   Terminé:</label>
                    <input type="checkbox" [(ngModel)]="tache.terminer">
                  </div>
                <button class="action-button" (click)="edittaches(tache)" *ngIf="!tache.isEditing">
                    <i class="fa fa-check-circle"></i>
                  </button>
                  <button class="action-button" (click)="updatetaches(tache)" *ngIf="tache.isEditing">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="action-button" (click)="cancelEdittache(tache)" *ngIf="tache.isEditing">
                    <i class="fa fa-times"></i>
                  </button>
              </div>
            </div>
        </div>
        </div>
        <div class="task-column">
          <h2 class="retard">En retard</h2>
          <div>
            <div *ngFor="let tache of tachesEnretard" class="task-item overdue">
              <div class="task-item-content">
                <h4>{{ tache.nom }}</h4>
                <p><strong>description : </strong>{{ tache.description }}</p>
                <p><strong>date de debut : </strong>{{ tache.date_debut | date:'dd/MM/yyyy' }}</p>
                <p><strong>date de fin : </strong>{{ tache.date_fin | date:'dd/MM/yyyy' }}</p>
                <p><strong>sprint : </strong>{{ tache.sprint.nom }}</p>
                <div  *ngIf="tache.isEditing">
                    <label>   Terminé:</label>
                    <input type="checkbox" [(ngModel)]="tache.terminer">
                  </div>
                <button class="action-button" (click)="edittaches(tache)" *ngIf="!tache.isEditing">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="action-button" (click)="updatetaches(tache)" *ngIf="tache.isEditing">
                    <i class="fa fa-check"></i>
                  </button>
                  <button class="action-button" (click)="cancelEdittache(tache)" *ngIf="tache.isEditing">
                    <i class="fa fa-times"></i>
                  </button>
              </div>
            </div>
        </div>
        </div>
        <div class="task-column">
          <h2 class="terminer">Terminées</h2>
          <div>
            <div *ngFor="let tache of tachesTerminer" class="task-item completed">
              <div class="task-item-content">
                <h4>{{ tache.nom }}</h4>
                <p><strong>description : </strong>{{ tache.description }}</p>
                <p><strong>date de debut : </strong>{{ tache.date_debut | date:'dd/MM/yyyy' }}</p>
                <p><strong>date de fin : </strong>{{ tache.date_fin | date:'dd/MM/yyyy' }}</p>
                <p><strong>sprint : </strong>{{ tache.sprint.nom }}</p>
             
              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>