<form (submit)="addUtil()">
  <br/>
  <h2><i class="add-user fas fa-user-plus"></i>  Ajouter un membre</h2>

  <div class="form-container">
    <div class="form-column">
      <div class="form-row">
        <label for="cin" class="labels">CIN</label>
        <input [(ngModel)]="utili.cin" type="text" id="cin" name="cin" placeholder="cin" required>
      </div>
      <div class="form-row">
        <label for="mot_de_passe" class="labels">MDP</label>
        <input [(ngModel)]="utili.mot_de_passe" type="password"  id="mot_de_passe" name="mot_de_passe" placeholder="mot_de_passe">
      </div>
      <div class="form-row">
        <label for="nom" class="labels">Nom</label>
        <input [(ngModel)]="utili.nom" type="text" id="nom" name="nom" placeholder="nom">
      </div>
      <div class="form-row">
        <label class="labels">Image</label>
        <input type="file" (change)="selectedImage($event)" name="image" required>
      </div>
    </div>
    <div class="form-column">
      <div class="form-row">
        <label for="role" class="labels">Role</label>
        <select name="role" id="role" [(ngModel)]="utili.role" class="input">
          <option value="membre">membre</option>
          <option value="admin">admin</option>
          <option value="chef">chef</option>
        </select>
      </div>
      <div class="form-row">
        <label for="prenom" class="labels">Prenom</label>
        <input [(ngModel)]="utili.prenom" type="text" id="prenom" name="prenom" placeholder="prenom">
      </div>
      <div class="form-row">
        <label for="email" class="labels">Email</label>
        <input [(ngModel)]="utili.email" type="email" class="input" id="email" name="email" placeholder="email">
      </div>
      <div class="form-actions">
       


        <button type="submit" class="btn1">
          <i class="fas fa-plus"></i> Ajouter
        </button>


        <a class="retour" [routerLink]="['/util']">Retour</a>
      </div>
    </div>
  
  </div>



 
</form>
