<section class="eyy">
    <div class="no">
        <i class="fa fa-tasks"></i>
        <a>{{projet.nom}}</a>
        <mat-chip class="ey" [ngClass]="getStatusClass(projet.statut)">{{projet.statut}}</mat-chip>
        <p>Progression de projet</p>
        <div class="progress">
            
            <div class="progress-bar" role="progressbar" [style.width.%]="pourcentageTermines">
              {{ pourcentageTermines }}%
            </div>
          </div>
          
      </div>
    <mat-tab-group>
        <mat-tab label="Aperçu">
            <app-apercu></app-apercu>
          </mat-tab>
        <mat-tab label="User Storie">
         <app-backlog></app-backlog>
        </mat-tab>
        <mat-tab label="sprints">
       <app-sprint></app-sprint>
        </mat-tab>
       
        <mat-tab label="membre">
            <app-membres></app-membres>
        </mat-tab>
      
      </mat-tab-group>
</section>
